<%- include('partials/header') %>

<h2>Bem-vindo, <%= user.email %>!</h2>

<h3>Seus contatos</h3>

<% if (contacts.length === 0) { %>
  <p>Nenhum contato cadastrado ainda.</p>
<% } else { %>
  <ul>
    <% contacts.forEach(contact => { %>
      <li><%= contact.name %> - <%= contact.phone %></li>
    <% }) %>
  </ul>
<% } %>

<a href="/contacts/new">Adicionar novo contato</a> | 
<a href="/logout">Sair</a>

<%- include('partials/footer') %>


